<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NewBinding0" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8056/ProxyService/" binding="netTcpBinding"
                bindingConfiguration="NewBinding0" contract="ProxyService.IProxyService"
                name="ProxyClient" kind="" endpointConfiguration="">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>