<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ProxyDbString" connectionString="Server=(local);Database=ProxyDB;Integrated Security=SSPI;"/>
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0" />
      </netTcpBinding>
    </bindings>
    <client />
    <services>
      <service name="ProxyService.ProxyService">
        <endpoint address="net.tcp://localhost:8056/ProxyService/" binding="netTcpBinding"
          bindingConfiguration="NewBinding0" name="TcpEndPoint" contract="ProxyService.IProxyService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>